extend layouts/main

block extraHeaders
  script(src='/vendor/js/underscore.min.js')
  script(src='/vendor/js/backbone.min.js')
  script(src='/js/app.js')

block content
  #testResultsPanel.div.div-default
    .div-body
      if errorMessage
        .alert.alert-danger= errorMessage
      else
        - var alertClass;
        case testRun.status 
          when 'ongoing'
            - alertClass = 'alert-warning'
          when 'error'
            - alertClass = 'alert-danger'
          when 'success'
            - alertClass = 'alert-success'
          default
            - alertClass = 'alert-success'
        
        #statusFlash.alert(class=alertClass)
          strong Status: 
          span#testStatus= testRun.status
        .panel.panel-primary
          .panel-heading 
            .main Test Summary
            .actions
                a.stack-link [SHOW STACK]
          .panel-body
            table.table
              tr
                th Test
                td= testRun.testName
              tr
                th Port
                td= testRun.portNumber
              tr
                th Passed
                td#passedCount= testRun.passedCount
              tr
                th Failed
                td#failedCount= testRun.failedCount
              tr
                th Start
                td#startTime(data-time=testRun.startedAt)
              tr
                th Finish
                td#endTime(data-time=testRun.endedAt)
        #failedTestsContainer

  .modal.fade#imageModal(tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times
          h4.title
        .modal-body
          img
    