extend layouts/main
block content
  table.table.table-striped.table-hover.test-results-table
    tr.section-header
      th Test
      th Port
      th Status
      th Passed
      th Failed
      th Started
      th Ended
    each testRun in data.testRuns
      - var statusColor;
      case testRun.status
        when 'ongoing'
          - statusColor = 'yellow bold';
        when 'queued'
          - statusColor = 'yellow';
        when 'error'
        when 'killed'
          - statusColor = 'red';
        when 'success'
          - statusColor = 'green';
        default
          - statusColor = 'green';
      
      - var rowColor = (testRun.failedCount > 0) ? 'danger' : ''
      tr(class=rowColor)
        td
          a(href='/test-results/'+testRun.id)= testRun.testName
        td= testRun.portNumber
        td(class=statusColor)= testRun.status
        td= testRun.passedCount
        td= testRun.failedCount
        td.start-time(data-time= testRun.startedAt)
        td.end-time(data-time= testRun.endedAt)

  p *Displaying Last 20 Tests

  script.
    $('.start-time').each(function(idx, el) {
      var startTime = $(el).data('time');
      $(el).text(moment(startTime).local().format('MM/DD/YY - LT'));
    })

    $('.end-time').each(function(idx, el) {
      var endTime = $(el).data('time');
      if (endTime) {
        $(el).text(moment(endTime).local().format('MM/DD/YY - LT'));
      }
    })


